label {
  text-align: center;

}

.tab{
  padding-top: 20px;
}

.banner{
  height:100px;
  background-color: red;
}
.ui-bar-inherit{

  background-color: RED;
}

.ui-grid-solo {
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;

}
.error {
  color: red;
  text-align: center;
}

#divMenu {
  margin-left: 20%;
  margin-right: 20%;

}
#divNuevo {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;

}

@media screen and (min-width: 720px){
  /* con esto definimos un margen diferente cuando la pantalla esta por encima de 720px     */
  .ui-grid-solo {
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10%;

  }
}
