label {
    text-align: center;

}
body{
    background: url(../images/bg3.jpg) !important;
    background-repeat: no-repeat !important;
    background-position:center center !important;
    background-attachment:scroll !important;
    background-size:100% 100% !important;
    background-color: #e9e9e9 !important;
}
.ui-page {
    background: transparent;
}
/*.ui-content{
    background: transparent;
}
*/
.tab{
    padding-top: 20px;
}

.banner{
    height:150px;
    background-color: red;
    opacity: 0.6;
}
.ui-bar-inherit{

    background-color: RED;
}

.ui-grid-solo {
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    opacity: 0.8
}
.error {
    color: red;
    text-align: center;
    border: 2px;
    border-color: red;
}
.RepartidorSeleccionado {
    background: #38c !important;
    color: white !important;

}

.PaqueteSeleccionado {
    background: #38c !important;
    color: white !important;

}

.hora{
  width: 30px !important;
}

#divMenu {
    margin-left: 5%;
    margin-right: 0%;
    width: 70% !important;
    background: #e9e9e9;

}
#divPendientes{
    padding-left: 2%;
    width: 25% !important;
}
#divNuevo {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;

}

@media screen and (min-width: 720px){
    /* con esto definimos un margen diferente cuando la pantalla esta por encima de 720px     */
    .ui-grid-solo {
        margin-top: 10%;
        margin-left: 40%;
        margin-right: 40%;
        margin-bottom: 10%;

    }
}

/*para tablas*/

.Table

{
    display: table;
}

.Title

{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.Heading

{
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.Row

{
    display: table-row;
}

.Cell

{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
